<li>
	{{name}}
	<button class="change-edible" data-id="{{id}}" data-freshedible="{{edible}}">
		{{#if edible}}Devour{{else}}Back on the menu!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">ew!</button>
    <hr>
</li>
